.login-form {
	height: 70vh;
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  	animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
	0% {
	  -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
	  transform: translateY(-600px) rotateX(-30deg) scale(0);
	  -webkit-transform-origin: 50% 100%;
	  transform-origin: 50% 100%;
	  opacity: 0;
	}
  
	100% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
	  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 1400px;
	  transform-origin: 50% 1400px;
	  opacity: 1;
	}
  }
  
  @keyframes slide-in-elliptic-top-fwd {
	0% {
	  -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
	  transform: translateY(-600px) rotateX(-30deg) scale(0);
	  -webkit-transform-origin: 50% 100%;
	  transform-origin: 50% 100%;
	  opacity: 0;
	}
  
	100% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
	  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 1400px;
	  transform-origin: 50% 1400px;
	  opacity: 1;
	}
  }
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

.userIcon, .lockIcon, .telIcon, .emailIcon {
	position: absolute;
	left: 15px;
	top: 17px;
	font-size: 20px;
}

.form-floating {
	position: relative;
}

.form-control .btn {
	min-height: 40px;
	border-radius: 3px; 
}

.signup-form {
	height: 480px;
	width: 450px;
	margin: 5px auto;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: rgb(0, 229, 255);
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}  

